<div class="card with-overflow">
  <div class="card-divider">
    <h2 class="card-title flex--sbc">
      <div>
        <%= t(".title") %>
        <span id="js-selected-fictions-count" class="component-counter component-counter--inline" title="<%= t("decidim.fictions.admin.fictions.index.selected") %>"></span>
      </div>
      <%= render partial: "bulk-actions" %>
    </h2>
  </div>
  <%= admin_filter_selector(:fictions) %>
  <div class="card-section">
    <div class="table-scroll">
      <table class="table-list">
        <thead>
          <tr>
            <th>
              <%= check_box_tag "fictions_bulk", "all", false, class: "js-check-all" %>
            </th>
            <th>
              <%= sort_link(query, :id, t("models.fiction.fields.id", scope: "decidim.fictions"), default_order: :desc ) %>
            </th>
            <th>
              <%= sort_link(query, :title, t("models.fiction.fields.title", scope: "decidim.fictions") ) %>
            </th>
            <th>
              <%= sort_link(query, :category_name, t("models.fiction.fields.category", scope: "decidim.fictions") ) %>
            </th>

            <% if current_participatory_space.scopes_enabled? %>
              <th>
                <%= sort_link(query, :scope_name, t("models.fiction.fields.scope", scope: "decidim.fictions") ) %>
              </th>
            <% end %>

            <th>
              <%= sort_link(query, :state, [:state, :is_emendation], t("models.fiction.fields.state", scope: "decidim.fictions") ) %>
            </th>

            <% unless current_settings.publish_answers_immediately? %>
              <th>
                <%= sort_link(query, :state_published, t("models.fiction.fields.published_answer", scope: "decidim.fictions") ) %>
              </th>
            <% end %>

            <% if current_settings.votes_enabled? %>
              <th>
                <%= sort_link(query, :fiction_votes_count, t("models.fiction.fields.votes", scope: "decidim.fictions") ) %>
              </th>
            <% end %>

            <% if current_component.settings.comments_enabled? and !current_settings.comments_blocked? %>
              <th>
                <%= sort_link(query, :commentable_comments_count, t("models.fiction.fields.comments", scope: "decidim.fictions") ) %>
              </th>
            <% end %>

            <th>
              <%= sort_link(query, :fiction_notes_count, t("models.fiction.fields.notes", scope: "decidim.fictions") ) %>
            </th>

            <th>
              <%= sort_link(query, :valuation_assignments_count, t("models.fiction.fields.valuators", scope: "decidim.fictions") ) %>
            </th>

            <th>
              <%= sort_link(query, :published_at, t("models.fiction.fields.published_at", scope: "decidim.fictions") ) %>
            </th>

            <th class="actions"><%= t("actions.title", scope: "decidim.fictions") %></th>
          </tr>
        </thead>
        <tbody>
          <% fictions.each do |fiction| %>
            <%= render partial: "fiction-tr", locals: { fiction: fiction } %>
          <% end %>
        </tbody>
      </table>
      <%= paginate fictions, theme: "decidim" %>
    </div>
  </div>
</div>

<%= javascript_include_tag "decidim/fictions/admin/fictions" %>
