<div class="picker-header">
  <h1><%= t("fictions_picker.choose_fictions", scope: "decidim.fictions") %></h1>
  <input type="text" name="fictions-filter" id="fictions_filter" placeholder="<%= t("decidim.admin.filters.search_placeholder.id_string_or_title_cont", collection: fictions_collection_name) %>">
</div>
<div class="picker-content picker-list" data-picker-path="<%= picker_path %>" data-picker-more="<%= more_fictions? %>">
  <%= render :fictions %>
</div>
<div class="picker-footer">
  <div class="buttons button--double">
    <a class="button" data-close=""><%= t("fictions_picker.close", scope: "decidim.fictions") %></a>
  </div>
</div>

<%= javascript_include_tag "decidim/fictions/admin/fictions_picker" %>
