<div id="js-publish-answers-actions" class="hide js-bulk-action-form">
  <%= form_tag(publish_answers_fictions_path, method: :post, remote: true, id: "js-form-publish-answers", class: "flex--cc flex-gap--1") do %>
    <div class="checkboxes hide">
      <% fictions.each do |fiction| %>
        <%= check_box_tag "fiction_ids[]", fiction.id, false, class: "js-check-all-fiction js-fiction-id-#{fiction.id}" %>
      <% end %>
    </div>
    <p><%= t("decidim.fictions.admin.fictions.publish_answers.number_of_fictions", number: '<span id="js-form-publish-answers-number"></span>').html_safe %></p>

    <%= submit_tag(t("decidim.fictions.admin.fictions.index.publish"), id: "js-submit-publish-answers", class: "button small button--simple float-left") %>

    <button id="js-cancel-publish-answers" class="button tiny clear compact js-cancel-bulk-action" type="button"><%= t("decidim.fictions.admin.fictions.index.cancel") %></button>
  <% end %>
</div>
